i:hover
{                        
    cursor: pointer;

}

span
{
    cursor: pointer;
}
.you:hover{
    color: 	#FF0000;

}
.insta:hover
{
    color: rgb(161, 17, 94);

}
.sound:hover{
    color: #ff8800;
}
.spot:hover{
    color: #81b71a ;
}
.text-gray 
{
    color: rgb(177, 177, 177);
}