
<footer class="p-5 text-center">
    <div class="container-fluid px-0">
        <div class="row  justify-content-around" >
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h3 class="h6 text-gray">2022 © Ahmed Hassan</h3>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6  fs-5  text-center ">
                <i class="fab mx-2  you fa-youtube"></i>
                <i class="fab mx-2 insta  fa-instagram"></i>
                <i class="fab mx-2 sound  fa-soundcloud"></i>
                <i class="fab mx-2  spot fa-spotify"></i>
            </div>
        </div>
    </div>
</footer>